@tailwind base;
@tailwind components;
@tailwind utilities;


:root{
  --darkGreen: rgb(93, 199, 115);
  --warningYellow: rgb(252, 186, 3);
  --dangerRed: rgb(209, 29, 29);
}

.active {
  border-bottom: 2px;
  border-color: var(--darkGreen);
  border-style: solid;
}

.marker-active {
  background-color: rgba(255, 0, 0, 0.2);
}

#outer-circle{
  border-radius: 100%;
  width: 200px;
  height: 200px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

#inner-circle{
  background-color: white;
  width: 150px;
  height: 150px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.green-color-status{
  background-color: var(--darkGreen);
}
.yellow-color-status{
  background-color: var(--warningYellow);
}
.red-color-status{
  background-color: var(--dangerRed);
}


.tooltip {
  position: relative;
  display: inline-block;
}

/* Tooltip text */
.tooltip .tooltipcontent {
  visibility: hidden;
  width: 120px;
  background-color: rgb(224, 224, 224);
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 10px 0;
  border-radius: 6px;
  margin-top: 5px ;
 
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
  width: 120px;
  top: 100%;
  left: 50%;
  margin-left: -60px;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltipcontent {
  visibility: visible;
}

.tooltip .tooltipcontent::after {
  content: " ";
  position: absolute;
  bottom: 100%;  /* At the top of the tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent rgb(224, 224, 224) transparent;
}


#heart { 
  position: relative; 
  width: 100px; 
  height: 100px; 
  scale: 2;
} 



#heart:before, #heart:after { 
  position: absolute; 
  content: ""; 
  left: 50px; 
  top: 0; 
  width: 50px; 
  height: 80px; 
  background: red; 
  border-radius: 50px 50px 0 0; 
  transform: rotate(-45deg); 
  transform-origin: 0 100%; 
} 

#heart:after { 
  left: 0; 
  transform: rotate(45deg); 
  transform-origin :100% 100%; 
}