@tailwind base;
@tailwind components;
@tailwind utilities;

.active {
  border-bottom: 2px;
  border-color: rgb(93, 199, 115);
  border-style: solid;
}

.marker-active {
  background-color: rgba(255, 0, 0, 0.2);
}

#outer-circle{
  border-radius: 100%;
  width: 200px;
  height: 200px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

#inner-circle{
  background-color: white;
  width: 150px;
  height: 150px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.circle-green-color{
  background-color: rgb(93, 199, 115);
}

.circle-red-color{
  background-color: rgb(237, 28, 36);
}
.circle-yellow-color{
  background-color: rgb(248, 153, 57);
}
