@tailwind base;
@tailwind components;
@tailwind utilities;


:root{
  --darkGreen: rgb(93, 199, 115);
  --warningYellow: rgb(252, 186, 3);
  --dangerRed: rgb(209, 29, 29);
}

.active {
  border-bottom: 2px;
  border-color: var(--darkGreen);
  border-style: solid;
}

.marker-active {
  background-color: rgba(255, 0, 0, 0.2);
}

#outer-circle{
  border-radius: 100%;
  width: 200px;
  height: 200px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

#inner-circle{
  background-color: white;
  width: 150px;
  height: 150px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.green-color-status{
  background-color: var(--darkGreen);
}
.yellow-color-status{
  background-color: var(--warningYellow);
}
.red-color-status{
  background-color: var(--dangerRed);
}

